.\#tc\/is {
  container: two-col/inline-size;
}

.aic {
  align-items: center;
}

.ais {
  align-items: stretch;
}

.aie {
  align-items: end;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.asc {
  align-self: center;
}

.ass {
  align-self: stretch;
}

.ase {
  align-self: end;
}

.asfs {
  align-self: flex-start;
}

.asfe {
  align-self: flex-end;
}

.bgc-transparent {
  background-color: transparent;
}

.bgc-white {
  background-color: #ffffff;
}

.bgc-gray {
  background-color: gray;
}

.bgc-black {
  background-color: #000000;
}

.bgc-transparent\:h:hover {
  background-color: transparent;
}

.bgc-white\:h:hover {
  background-color: #ffffff;
}

.bgc-gray\:h:hover {
  background-color: gray;
}

.bgc-black\:h:hover {
  background-color: #000000;
}

.bgc-transparent\:f:focus {
  background-color: transparent;
}

.bgc-white\:f:focus {
  background-color: #ffffff;
}

.bgc-gray\:f:focus {
  background-color: gray;
}

.bgc-black\:f:focus {
  background-color: #000000;
}

.bgp-c {
  background-position: center;
}

.bgpx-c {
  background-position-x: center;
}

.bgpy-c {
  background-position-y: center;
}

.bgr-nr {
  background-repeat: no-repeat;
}

.bgs-c {
  background-size: cover;
}

.bgs-cn {
  background-size: contain;
}

.bdrs100\% {
  border-radius: 100%;
}

.bdn {
  border: none;
}

.bd1-s-white {
  border: 1px solid #ffffff;
}

.bd1-s-gray {
  border: 1px solid gray;
}

.bd1-s-black {
  border: 1px solid #000000;
}

.btn {
  border-top: none;
}

.bt1-s-white {
  border-top: 1px solid #ffffff;
}

.bt1-s-gray {
  border-top: 1px solid gray;
}

.bt1-s-black {
  border-top: 1px solid #000000;
}

.bbn {
  border-bottom: none;
}

.bb1-s-white {
  border-bottom: 1px solid #ffffff;
}

.bb1-s-gray {
  border-bottom: 1px solid gray;
}

.bb1-s-black {
  border-bottom: 1px solid #000000;
}

.bln {
  border-left: none;
}

.bl1-s-white {
  border-left: 1px solid #ffffff;
}

.bl1-s-gray {
  border-left: 1px solid gray;
}

.bl1-s-black {
  border-left: 1px solid #000000;
}

.brn {
  border-right: none;
}

.br1-s-white {
  border-right: 1px solid #ffffff;
}

.br1-s-gray {
  border-right: 1px solid gray;
}

.br1-s-black {
  border-right: 1px solid #000000;
}

.bbn\:h:hover {
  border-bottom: none;
}

.bb1-s-white\:h:hover {
  border-bottom: 1px solid #ffffff;
}

.bb1-s-gray\:h:hover {
  border-bottom: 1px solid gray;
}

.bb1-s-black\:h:hover {
  border-bottom: 1px solid #000000;
}

.bbn\:f:focus {
  border-bottom: none;
}

.bb1-s-white\:f:focus {
  border-bottom: 1px solid #ffffff;
}

.bb1-s-gray\:f:focus {
  border-bottom: 1px solid gray;
}

.bb1-s-black\:f:focus {
  border-bottom: 1px solid #000000;
}

.bdn\:h:hover {
  border: none;
}

.bd1-s-white\:h:hover {
  border: 1px solid #ffffff;
}

.bd1-s-gray\:h:hover {
  border: 1px solid gray;
}

.bd1-s-black\:h:hover {
  border: 1px solid #000000;
}

.bdn\:f:focus {
  border: none;
}

.bd1-s-white\:f:focus {
  border: 1px solid #ffffff;
}

.bd1-s-gray\:f:focus {
  border: 1px solid gray;
}

.bd1-s-black\:f:focus {
  border: 1px solid #000000;
}

.b0 {
  bottom: 0;
}

.b100\% {
  bottom: 100%;
}

.bxsh4-4-5-black-0\.15 {
  box-shadow: 4px 4px 5px rgba($black, 0.15);
}

.c-inherit {
  color: inherit;
}

.c-white {
  color: #ffffff;
}

.c-gray {
  color: gray;
}

.c-black {
  color: #000000;
}

.c-white\:h:hover {
  color: #ffffff;
}

.c-gray\:h:hover {
  color: gray;
}

.c-black\:h:hover {
  color: #000000;
}

.c-white\:f:focus {
  color: #ffffff;
}

.c-gray\:f:focus {
  color: gray;
}

.c-black\:f:focus {
  color: #000000;
}

.cns {
  contain: size;
}

.cnp {
  contain: paint;
}

.cnst {
  contain: strict;
}

.cvh {
  content-visibility: hidden;
}

.cva {
  content-visibility: auto;
}

.cur-auto {
  cursor: auto;
}

.curp {
  cursor: pointer;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.dn {
  display: none;
}

.f-inherit {
  fill: inherit;
}

.f-white {
  fill: #ffffff;
}

.f-gray {
  fill: gray;
}

.f-black {
  fill: #000000;
}

.f-white\:h:hover {
  fill: #ffffff;
}

.f-gray\:h:hover {
  fill: gray;
}

.f-black\:h:hover {
  fill: #000000;
}

.f-white\:f:focus {
  fill: #ffffff;
}

.f-gray\:f:focus {
  fill: gray;
}

.f-black\:f:focus {
  fill: #000000;
}

.fl-grayscale\(100\%\) {
  filter: grayscale(100%);
}

.fxb0 {
  flex-basis: 0;
}

.fxdrrr {
  flex-direction: row-reverse;
}

.fxdrc {
  flex-direction: column;
}

.fxdrcr {
  flex-direction: column-reverse;
}

.fxg0 {
  flex-grow: 0;
}

.fxs0 {
  flex-shrink: 0;
}

.fxww {
  flex-wrap: wrap;
}

.fxwwr {
  flex-wrap: wrap-reverse;
}

.ff-serif {
  font-family: serif;
}

.ff-sans {
  font-family: sans-serif;
}

.ff-mono {
  font-family: monospace;
}

.fz8 {
  font-size: 8px;
}

.fz10 {
  font-size: 10px;
}

.fz14 {
  font-size: 14px;
}

.fz18 {
  font-size: 18px;
}

.fz24 {
  font-size: 24px;
}

.fz32 {
  font-size: 32px;
}

.fz44 {
  font-size: 44px;
}

.fz58 {
  font-size: 58px;
}

.fz76 {
  font-size: 76px;
}

.fz102 {
  font-size: 102px;
}

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.fw700\:h:hover {
  font-weight: 700;
}

.g16 {
  gap: 16px;
}

.g24 {
  gap: 24px;
}

.g40 {
  gap: 40px;
}

.gc2 {
  grid-template-columns: repeat(2, 1fr);
}

.gc3 {
  grid-template-columns: repeat(3, 1fr);
}

.gc12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.h-auto {
  height: auto;
}

.h0 {
  height: 0;
}

.h0\:h:hover {
  height: 0;
}

.h60vh {
  height: 60vh;
}

.h80vh {
  height: 80vh;
}

.h90vh {
  height: 90vh;
}

.h100vh {
  height: 100vh;
}

.h100vw {
  height: 100vw;
}

.h50\% {
  height: 50%;
}

.h100\% {
  height: 100%;
}

.mah0 {
  max-height: 0;
}

.mih0 {
  min-height: 0;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.l0 {
  left: 0;
}

.lts-0\.33 {
  letter-spacing: 0.33px;
}

.lts0\.33 {
  letter-spacing: 0.33px;
}

.lts2 {
  letter-spacing: 2px;
}

.lts3\.75 {
  letter-spacing: 3.75px;
}

.lh0 {
  line-height: 0;
}

.lh1 {
  line-height: 1;
}

.lh1\.33 {
  line-height: 1.33;
}

.lh1\.4 {
  line-height: 1.4;
}

.lh1\.5 {
  line-height: 1.5;
}

.lh2 {
  line-height: 2;
}

.lsn {
  list-style: none;
}

.lsd {
  list-style: disc;
}

.m-auto {
  margin: auto;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.m12 {
  margin: 12px;
}

.m16 {
  margin: 16px;
}

.m24 {
  margin: 24px;
}

.m32 {
  margin: 32px;
}

.m40 {
  margin: 40px;
}

.mt-auto {
  margin-top: auto;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mt40 {
  margin-top: 40px;
}

.mr-auto {
  margin-right: auto;
}

.mr4 {
  margin-right: 4px;
}

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 12px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.mr32 {
  margin-right: 32px;
}

.mr40 {
  margin-right: 40px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml-auto {
  margin-left: auto;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.ml32 {
  margin-left: 32px;
}

.ml40 {
  margin-left: 40px;
}

.ofc {
  object-fit: cover;
}

.off {
  object-fit: fill;
}

.op0 {
  opacity: 0;
}

.op1 {
  opacity: 1;
}

.op0\:h:hover {
  opacity: 0;
}

.op1\:h:hover {
  opacity: 1;
}

.op0\:fw:focus-within {
  opacity: 0;
}

.op1\:fw:focus-within {
  opacity: 1;
}

.or1 {
  order: 1;
}

.or2 {
  order: 2;
}

.or3 {
  order: 3;
}

.or4 {
  order: 4;
}

.or5 {
  order: 5;
}

.oln {
  outline: none;
}

.ov {
  overflow: visible;
}

.oh {
  overflow: hidden;
}

.os {
  overflow: scroll;
}

.oxv {
  overflow-x: visible;
}

.oxh {
  overflow-x: hidden;
}

.oxs {
  overflow-x: scroll;
}

.oyv {
  overflow-y: visible;
}

.oyh {
  overflow-y: hidden;
}

.oys {
  overflow-y: scroll;
}

.p4 {
  padding: 4px;
}

.p8 {
  padding: 8px;
}

.p12 {
  padding: 12px;
}

.p16 {
  padding: 16px;
}

.p24 {
  padding: 24px;
}

.p32 {
  padding: 32px;
}

.p40 {
  padding: 40px;
}

.pt4 {
  padding-top: 4px;
}

.pt8 {
  padding-top: 8px;
}

.pt12 {
  padding-top: 12px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt32 {
  padding-top: 32px;
}

.pt40 {
  padding-top: 40px;
}

.pr4 {
  padding-right: 4px;
}

.pr8 {
  padding-right: 8px;
}

.pr12 {
  padding-right: 12px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.pr32 {
  padding-right: 32px;
}

.pr40 {
  padding-right: 40px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb40 {
  padding-bottom: 40px;
}

.pl4 {
  padding-left: 4px;
}

.pl8 {
  padding-left: 8px;
}

.pl12 {
  padding-left: 12px;
}

.pl16 {
  padding-left: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pl32 {
  padding-left: 32px;
}

.pl40 {
  padding-left: 40px;
}

.posa {
  position: absolute;
}

.posr {
  position: relative;
}

.posf {
  position: fixed;
}

.posst {
  position: sticky;
}

.r0 {
  right: 0;
}

.r100\% {
  right: 100%;
}

.rtz-90 {
  rotate: z 90deg;
}

.rtz--90 {
  rotate: z -90deg;
}

.rtz-180 {
  rotate: z 180deg;
}

.rtz--180 {
  rotate: z -180deg;
}

.rt90\:h:hover {
  rotate: 90deg;
}

.rt-90\:h:hover {
  rotate: -90deg;
}

.rt180\:h:hover {
  rotate: 180deg;
}

.rt-180\:h:hover {
  rotate: -180deg;
}

.scl1\.25 {
  scale: 1.25;
}

.scl1\.5 {
  scale: 1.5;
}

.scl2 {
  scale: 2;
}

.scl1\.25\:h:hover {
  scale: 1.25;
}

.scl1\.5\:h:hover {
  scale: 1.5;
}

.scl2\:h:hover {
  scale: 2;
}

.ssas {
  scroll-snap-align: start;
}

.ssan {
  scroll-snap-align: none;
}

.st-inherit {
  stroke: inherit;
}

.st-white {
  stroke: #ffffff;
}

.st-gray {
  stroke: gray;
}

.st-black {
  stroke: #000000;
}

.st-white\:h:hover {
  stroke: #ffffff;
}

.st-gray\:h:hover {
  stroke: gray;
}

.st-black\:h:hover {
  stroke: #000000;
}

.st-white\:f:focus {
  stroke: #ffffff;
}

.st-gray\:f:focus {
  stroke: gray;
}

.st-black\:f:focus {
  stroke: #000000;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tdn {
  text-decoration: none;
}

.tdu {
  text-decoration: underline;
}

.tdn\:h:hover {
  text-decoration: none;
}

.tdu\:h:hover {
  text-decoration: underline;
}

.tdn\:f:focus {
  text-decoration: none;
}

.tdu\:f:focus {
  text-decoration: underline;
}

.tom {
  text-orientation: mixed;
}

.txsh-fake-bold {
  text-shadow: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
}

.txsh-fake-bold\:h:hover {
  text-shadow: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
}

.ttu {
  text-transform: uppercase;
}

.ttc {
  text-transform: capitalize;
}

.tuo1 {
  text-underline-offset: 1px;
}

.tuo2 {
  text-underline-offset: 2px;
}

.t0 {
  top: 0;
}

.t100\% {
  top: 100%;
}

.trfo-tr {
  transform-origin: top right;
}

.trf-skew\(45\) {
  transform: skew(45deg);
}

.trf-skew\(45\)\:h:hover {
  transform: skew(45deg);
}

.trf-skew\(45\)\:f:focus {
  transform: skew(45deg);
}

.trsd-1 {
  transition-delay: 1s;
}

.trs-all-0\.3-eio {
  transition: all 0.3s ease-in-out;
}

.trl50\% {
  translate: 50%;
}

.trl-50\% {
  translate: -50%;
}

.trl50\%-0 {
  translate: 50% 0;
}

.trl0--50\% {
  translate: 0 -50%;
}

.trl50\%\:h:hover {
  translate: 50%;
}

.trl-50\%\:h:hover {
  translate: -50%;
}

.trl50\%-0\:h:hover {
  translate: 50% 0;
}

.trl0--50\%\:h:hover {
  translate: 0 -50%;
}

.usn {
  user-select: none;
}

.vh {
  visibility: hidden;
}

.vv {
  visibility: visible;
}

.vc {
  visibility: collapse;
}

.wsn {
  white-space: nowrap;
}

.w0 {
  width: 0;
}

.w0\:h:hover {
  width: 0px;
}

.w50vw {
  width: 50vw;
}

.w100vw {
  width: 100vw;
}

.w25\% {
  width: 25%;
}

.w30\% {
  width: 30%;
}

.w33\% {
  width: 33%;
}

.w40\% {
  width: 40%;
}

.w45\% {
  width: 45%;
}

.w50\% {
  width: 50%;
}

.w55\% {
  width: 55%;
}

.w60\% {
  width: 60%;
}

.w66\% {
  width: 66%;
}

.w75\% {
  width: 75%;
}

.w90\% {
  width: 90%;
}

.w100\% {
  width: 100%;
}

.maw0 {
  max-width: 0;
}

.miw0 {
  min-width: 0;
}

.wmrl {
  writing-mode: rl;
}

.wmvtb {
  writing-mode: vertical-tb;
}

.wmvlr {
  writing-mode: vertical-lr;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

@media all and (max-width: 1000px) {
  .gc2\@1000w {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 800px) {
  .aic\@800w {
    align-items: center;
  }

  .ais\@800w {
    align-items: stretch;
  }

  .aie\@800w {
    align-items: end;
  }

  .aifs\@800w {
    align-items: flex-start;
  }

  .aife\@800w {
    align-items: flex-end;
  }
}
@media all and (max-width: 800px) {
  .asc\@800w {
    align-self: center;
  }

  .ass\@800w {
    align-self: stretch;
  }

  .ase\@800w {
    align-self: end;
  }

  .asfs\@800w {
    align-self: flex-start;
  }

  .asfe\@800w {
    align-self: flex-end;
  }
}
@media all and (max-width: 800px) {
  .b0\@800w {
    bottom: 0;
  }
}
@media all and (max-width: 800px) {
  .db\@800w {
    display: block;
  }

  .dib\@800w {
    display: inline-block;
  }

  .df\@800w {
    display: flex;
  }

  .dif\@800w {
    display: inline-flex;
  }

  .dg\@800w {
    display: grid;
  }

  .dn\@800w {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .fxdrrr\@800w {
    flex-direction: row-reverse;
  }

  .fxdrc\@800w {
    flex-direction: column;
  }

  .fxdrcr\@800w {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 800px) {
  .fz8\@800w {
    font-size: 8px;
  }

  .fz10\@800w {
    font-size: 10px;
  }

  .fz14\@800w {
    font-size: 14px;
  }

  .fz18\@800w {
    font-size: 18px;
  }

  .fz24\@800w {
    font-size: 24px;
  }

  .fz32\@800w {
    font-size: 32px;
  }

  .fz44\@800w {
    font-size: 44px;
  }

  .fz58\@800w {
    font-size: 58px;
  }

  .fz76\@800w {
    font-size: 76px;
  }

  .fz102\@800w {
    font-size: 102px;
  }
}
@media all and (max-width: 800px) {
  .gc5\@800w {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media all and (max-width: 800px) {
  .h-auto\@800w {
    height: auto;
  }

  .h0\@800w {
    height: 0;
  }
}
@media all and (max-width: 800px) {
  .h50\%\@800w {
    height: 50%;
  }

  .h100\%\@800w {
    height: 100%;
  }
}
@media all and (max-width: 800px) {
  .mah-none\@800w {
    max-height: none;
  }

  .mah0\@800w {
    max-height: 0;
  }
}
@media all and (max-width: 800px) {
  .mih-auto\@800w {
    min-height: auto;
  }

  .mih0\@800w {
    min-height: 0;
  }
}
@media all and (max-width: 800px) {
  .jcc\@800w {
    justify-content: center;
  }

  .jcfs\@800w {
    justify-content: flex-start;
  }
}
@media all and (max-width: 800px) {
  .l0\@800w {
    left: 0;
  }
}
@media all and (max-width: 800px) {
  .m-auto\@800w {
    margin: auto;
  }

  .m0\@800w {
    margin: 0;
  }
}
@media all and (max-width: 800px) {
  .mt-auto\@800w {
    margin-top: auto;
  }

  .mt0\@800w {
    margin-top: 0;
  }
}
@media all and (max-width: 800px) {
  .mr-auto\@800w {
    margin-right: auto;
  }

  .mr0\@800w {
    margin-right: 0;
  }
}
@media all and (max-width: 800px) {
  .mb-auto\@800w {
    margin-bottom: auto;
  }

  .mb0\@800w {
    margin-bottom: 0;
  }
}
@media all and (max-width: 800px) {
  .ml-auto\@800w {
    margin-left: auto;
  }

  .ml0\@800w {
    margin-left: 0;
  }
}
@media all and (max-width: 800px) {
  .or1\@800w {
    order: 1;
  }

  .or2\@800w {
    order: 2;
  }

  .or3\@800w {
    order: 3;
  }

  .or4\@800w {
    order: 4;
  }

  .or5\@800w {
    order: 5;
  }
}
@media all and (max-width: 800px) {
  .p0\@800w {
    padding: 0;
  }
}
@media all and (max-width: 800px) {
  .pt0\@800w {
    padding-top: 0;
  }
}
@media all and (max-width: 800px) {
  .pr0\@800w {
    padding-right: 0;
  }
}
@media all and (max-width: 800px) {
  .pb0\@800w {
    padding-bottom: 0;
  }
}
@media all and (max-width: 800px) {
  .pl0\@800w {
    padding-left: 0;
  }
}
@media all and (max-width: 800px) {
  .posa\@800w {
    position: absolute;
  }

  .posr\@800w {
    position: relative;
  }

  .posf\@800w {
    position: fixed;
  }
}
@media all and (max-width: 800px) {
  .r0\@800w {
    right: 0;
  }
}
@media all and (max-width: 800px) {
  .tal\@800w {
    text-align: left;
  }

  .tac\@800w {
    text-align: center;
  }

  .tar\@800w {
    text-align: right;
  }
}
@media all and (max-width: 800px) {
  .t0\@800w {
    top: 0;
  }
}
@media all and (max-width: 800px) {
  .trs-n\@800w {
    transition: none;
  }
}
@media all and (max-width: 800px) {
  .vh\@800w {
    visibility: hidden;
  }

  .vv\@800w {
    visibility: visible;
  }

  .vc\@800w {
    visibility: collapse;
  }
}
@media all and (max-width: 800px) {
  .w0\@800w {
    width: 0;
  }
}
@media all and (max-width: 800px) {
  .w100vw\@800w {
    width: 100vw;
  }
}
@media all and (max-width: 800px) {
  .w50\%\@800w {
    width: 50%;
  }

  .w100\%\@800w {
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  .mawunset\@800w {
    max-width: unset;
  }

  .maw0\@800w {
    max-width: 0;
  }
}
@media all and (max-width: 800px) {
  .miwunset\@800w {
    min-width: unset;
  }

  .miw0\@800w {
    min-width: 0;
  }
}
@media all and (max-width: 800px) {
  .wmlr\@800w {
    writing-mode: lr;
  }

  .wmrl\@800w {
    writing-mode: rl;
  }

  .wmvtb\@800w {
    writing-mode: vertical-tb;
  }

  .wmvlr\@800w {
    writing-mode: vertical-lr;
  }
}
@media all and (max-width: 600px) {
  .aic\@600w {
    align-items: center;
  }

  .ais\@600w {
    align-items: stretch;
  }

  .aie\@600w {
    align-items: end;
  }

  .aifs\@600w {
    align-items: flex-start;
  }

  .aife\@600w {
    align-items: flex-end;
  }
}
@media all and (max-width: 600px) {
  .asc\@600w {
    align-self: center;
  }

  .ass\@600w {
    align-self: stretch;
  }

  .ase\@600w {
    align-self: end;
  }

  .asfs\@600w {
    align-self: flex-start;
  }

  .asfe\@600w {
    align-self: flex-end;
  }
}
@media all and (max-width: 600px) {
  .b0\@600w {
    bottom: 0;
  }
}
@media all and (max-width: 600px) {
  .db\@600w {
    display: block;
  }

  .dib\@600w {
    display: inline-block;
  }

  .df\@600w {
    display: flex;
  }

  .dif\@600w {
    display: inline-flex;
  }

  .dg\@600w {
    display: grid;
  }

  .dn\@600w {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .fxdrrr\@600w {
    flex-direction: row-reverse;
  }

  .fxdrc\@600w {
    flex-direction: column;
  }

  .fxdrcr\@600w {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 600px) {
  .fz8\@600w {
    font-size: 8px;
  }

  .fz10\@600w {
    font-size: 10px;
  }

  .fz14\@600w {
    font-size: 14px;
  }

  .fz18\@600w {
    font-size: 18px;
  }

  .fz24\@600w {
    font-size: 24px;
  }

  .fz32\@600w {
    font-size: 32px;
  }

  .fz44\@600w {
    font-size: 44px;
  }

  .fz58\@600w {
    font-size: 58px;
  }

  .fz76\@600w {
    font-size: 76px;
  }

  .fz102\@600w {
    font-size: 102px;
  }
}
@media all and (max-width: 600px) {
  .h-auto\@600w {
    height: auto;
  }

  .h0\@600w {
    height: 0;
  }
}
@media all and (max-width: 600px) {
  .mah-none\@600w {
    max-height: none;
  }

  .mah0\@600w {
    max-height: 0;
  }
}
@media all and (max-width: 600px) {
  .mih-auto\@600w {
    min-height: auto;
  }

  .mih0\@600w {
    min-height: 0;
  }
}
@media all and (max-width: 600px) {
  .l0\@600w {
    left: 0;
  }
}
@media all and (max-width: 600px) {
  .m-auto\@600w {
    margin: auto;
  }

  .m0\@600w {
    margin: 0;
  }
}
@media all and (max-width: 600px) {
  .mt-auto\@600w {
    margin-top: auto;
  }

  .mt0\@600w {
    margin-top: 0;
  }
}
@media all and (max-width: 600px) {
  .mr-auto\@600w {
    margin-right: auto;
  }

  .mr0\@600w {
    margin-right: 0;
  }
}
@media all and (max-width: 600px) {
  .mb-auto\@600w {
    margin-bottom: auto;
  }

  .mb0\@600w {
    margin-bottom: 0;
  }
}
@media all and (max-width: 600px) {
  .ml-auto\@600w {
    margin-left: auto;
  }

  .ml0\@600w {
    margin-left: 0;
  }
}
@media all and (max-width: 600px) {
  .or1\@600w {
    order: 1;
  }

  .or2\@600w {
    order: 2;
  }

  .or3\@600w {
    order: 3;
  }

  .or4\@600w {
    order: 4;
  }

  .or5\@600w {
    order: 5;
  }
}
@media all and (max-width: 600px) {
  .p0\@600w {
    padding: 0;
  }
}
@media all and (max-width: 600px) {
  .pt0\@600w {
    padding-top: 0;
  }
}
@media all and (max-width: 600px) {
  .pr0\@600w {
    padding-right: 0;
  }
}
@media all and (max-width: 600px) {
  .pb0\@600w {
    padding-bottom: 0;
  }
}
@media all and (max-width: 600px) {
  .pl0\@600w {
    padding-left: 0;
  }
}
@media all and (max-width: 600px) {
  .posa\@600w {
    position: absolute;
  }

  .posr\@600w {
    position: relative;
  }

  .posf\@600w {
    position: fixed;
  }
}
@media all and (max-width: 600px) {
  .r0\@600w {
    right: 0;
  }
}
@media all and (max-width: 600px) {
  .tal\@600w {
    text-align: left;
  }

  .tac\@600w {
    text-align: center;
  }

  .tar\@600w {
    text-align: right;
  }
}
@media all and (max-width: 600px) {
  .t0\@600w {
    top: 0;
  }
}
@media all and (max-width: 600px) {
  .trs-n\@600w {
    transition: none;
  }
}
@media all and (max-width: 600px) {
  .vh\@600w {
    visibility: hidden;
  }

  .vv\@600w {
    visibility: visible;
  }

  .vc\@600w {
    visibility: collapse;
  }
}
@media all and (max-width: 600px) {
  .w0\@600w {
    width: 0;
  }
}
@media all and (max-width: 600px) {
  .w100\%\@600w {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .mawunset\@600w {
    max-width: unset;
  }

  .maw0\@600w {
    max-width: 0;
  }
}
@media all and (max-width: 600px) {
  .miwunset\@600w {
    min-width: unset;
  }

  .miw0\@600w {
    min-width: 0;
  }
}
@media all and (max-width: 600px) {
  .wmlr\@600w {
    writing-mode: lr;
  }

  .wmrl\@600w {
    writing-mode: rl;
  }

  .wmvtb\@600w {
    writing-mode: vertical-tb;
  }

  .wmvlr\@600w {
    writing-mode: vertical-lr;
  }
}
@container two-col (max-width: 600px) {
  .w0\#tc-600w {
    width: 0;
  }

  .w500\#tc-600w {
    width: 500px;
  }
}