$pxs: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

@import "./modules/height";
@import "./modules/width";
@import "./modules/padding";
@import "./modules/margin";
@import "./modules/top";

//padding/margin/height/width
@each $w in $pxs {
  .b#{$w} {
    bottom: #{$w}px;
  }

  .l#{$w} {
    left: #{$w}px;
  }

  .r#{$w} {
    right: #{$w}px;
  }
}

@each $w in $pxs {
  .pt#{$w} {
    padding-top: #{$w}px;
  }
  
  .pb#{$w} {
    padding-bottom: #{$w}px;
  }
  
  .pr#{$w} {
    padding-right: #{$w}px;
  }
  
  .pl#{$w} {
    padding-left: #{$w}px;
  }
  
  .mt#{$w} {
    margin-top: #{$w}px;
  }
  
  .mb#{$w} {
    margin-bottom: #{$w}px;
  }
  
  .mr#{$w} {
    margin-right: #{$w}px;
  }
  
  .ml#{$w} {
    margin-left: #{$w}px;
  }
}

.m0-auto {
  margin: 0 auto;
}

//padding/margin/height/width by percentage
$perc: .01, .02, .03, .04, .05, .10, .1225, .15, .20, .25, .30, .333333, .35, .40, .45, .50, .55, .60, .65, .666666, .70, .75, .80, .85, .90, .95, 1, 1.1, 1.2, 1.3, 1.4, 1.5;
$percVal: '1', '2', '3', '4', '5', '10', '12\\.25', '15', '20', '25', '30', '33\\.3333', '35', '40', '45', '50', '55', '60', '65', '66\\.6666', '70', '75', '80', '85', '90', '95', '100', '110', '120' ,'130' ,'140' ,'150';
@for $i from 1 through length($perc) {
  $val: nth($percVal, $i);
  $p  : nth($perc, $i);

  .w#{$val}\% {
    width: percentage($p);
  }

  .h#{$val}\% {
    height: percentage($p);
  }

  .t#{$val}\% {
    top: percentage($p);
  }

  .b#{$val}\% {
    bottom: percentage($p);
  }

  .l#{$val}\% {
    left: percentage($p);
  }

  .r#{$val}\% {
    right: percentage($p);
  }
}

.mih100\% {
  min-height: 100%;
}

.mah100\% {
  max-height: 100%;
}

.miw100\% {
  min-width: 100%;
}

.mah100\% {
  max-height: 100%;
}

$vws: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $vw in $vws {
  .h#{$vw}vh {
    height: #{$vw}vh;
  }

  .w#{$vw}vh {
    width: #{$vw}vh;
  }

  .h#{$vw}vw {
    height: #{$vw}vw;
  }

  .w#{$vw}vw {
    width: #{$vw}vw;
  }
}

$zs: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99;

@each $z in $zs {
  .z#{$z} {
    z-index: $z;
  }
}

//display
.dn {
  display: none;
}

.d-i {
  display: inline;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

//flex
.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.fxdr {
  flex-direction: row;
}

.fxdc {
  flex-direction: column;
}

.fxdrr {
  flex-direction: row-reverse;
}

.fxdcr {
  flex-direction: column-reverse;
}

.fxwn {
  flex-wrap: nowrap;
}

.fxww {
  flex-wrap: wrap;
}

.fxwr {
  flex-wrap: wrap-reverse;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.aib {
  align-items: baseline;
}

.aic {
  align-items: center;
}

.asa {
  align-self: auto;
}

.asb {
  align-self: baseline;
}

.asc {
  align-self: center;
}

//order
$ords: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99;

@each $ord in $ords {
  .ord#{$ord} {
    order: $ord;
  }
}

//flex grow
$fxgs: 1, 2, 3, 4, 5;

@each $fxg in $fxgs {
  .fxg#{$fxg} {
    flex-grow: $fxg;
  }
}

//flex shrink
$fxshs: 1, 2, 3, 4, 5;

@each $fxsh in $fxshs {
  .fxsh#{$fxsh} {
    flex-shrink: $fxsh;
  }
}

//flex basis
$fxbs: 0, 1, 5, 10, 15, 20, 25, 30, 40, 44, 50, 60, 70, 75, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 500, 600, 700, 800;

@each $fxb in $fxbs {
  .fxb#{$fxb} {
    flex-basis: #{$fxb}px;
  }
}

.fxba {
  flex-basis: auto;
}

//position
.poss {
  position: static;
}

.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.posf {
  position: fixed;
}

//overflows
.oh {
  overflow: hidden;
}

.oa {
  overflow: auto;
}

.oya {
  overflow-y: auto;
} 

.oyh {
  overflow-y: hidden;
}

.oxa {
  overflow-x: auto;
}

.oxh {
  overflow-x: hidden;
}

//floats
.fll {
  float: left;
}

.flr {
  float: right;
}

.fln {
  float: none;
}

//clears
.clb {
  clear: both;
}

.cll {
  clear: left;
}

.clr {
  clear: right;
}

//text alignment
.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

//text transform
.ttu {
  text-transform: uppercase;
}

.ttn {
  text-transform: none;
}

//text decorate
.tdn {
  text-decoration: none;
}

.tdu {
  text-decoration: underline;
}

//word break
.wobn {
  word-break: normal;
}

.wobk {
  word-break: keep-all;
}

.wobba {
  word-break: break-all;
}

.wownm {
  word-wrap: normal;
}

.wown {
  word-wrap: none;
}

.wowu {
  word-wrap: unrestricted;
}

.wows {
  word-wrap: suppress;
}

.wowb {
  word-wrap: break-word;
}

//line height
.lh1 {
  line-height: 1;
}

.lh1\.2 {
  line-height: 1.2;
}

.lh1\.3 {
  line-height: 1.3;
}

.lh1\.4 {
  line-height: 1.4;
}

.lh1\.5 {
  line-height: 1.5;
}

.lh2 {
  line-height: 1.5;
}

//font styles
.fsi {
  font-style: italic;
}

.fso {
  font-style: oblique;
}

//font weight
$fws: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $fw in $fws {
  .fw#{$fw} {
    font-weight: $fw;
  }
}

//font size
$fzs:  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;

@each $fz in $fzs {
  .fz#{$fz} {
    font-size: #{$fz}px;
  }
}

//font families
.ffs {
  font-family: serif;
}

.ffss {
  font-family: sans-serif;
}

//font color
.c-white {
  color: $color-white;
}

.c-lightgray {
  color: $color-lightgray;
}

.c-gray {
  color: $color-gray;
}

.c-black {
  color: $color-black;
}

.c-white\:h:hover {
  color: $color-white;
}

.c-lightgray\:h:hover {
  color: $color-lightgray;
}

.c-gray\:h:hover {
  color: $color-gray;
}

.c-black\:h:hover {
  color: $color-black;
}

.tsh1-1-1-black {
  text-shadow: 1px 1px 1px $color-black;
}

.tsh1-1-1-white {
  text-shadow: 1px 1px 1px $color-white;
}

.tsh1-1-1-lightgray {
  text-shadow: 1px 1px 1px $color-lightgray;
}

.tsh1-1-1-gray {
  text-shadow: 1px 1px 1px $color-gray;
}

//background color
.bgc-white {
  background-color: $color-white;
}

.bgc-lightgray {
  background-color: $color-lightgray;
}

.bgc-gray {
  background-color: $color-gray;
}

.bgc-black {
  background-color: $color-black;
}

.bgct {
  background-color: transparent;
}

.bgc-white\:h:hover {
  background-color: $color-white;
}

.bgc-lightgray\h:hover {
  background-color: $color-lightgray;
}

.bgc-gray\:h:hover {
  background-color: $color-gray;
}

.bgc-black\:h:hover {
  background-color: $color-black;
}

.bgct\:h:hover {
  background-color: transparent;
}

//opacity
$ops:  0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1;
$opVal:'0','\\.1', '\\.2', '\\.3', '\\.4', '\\.5', '\\.6', '\\.7', '\\.8', '\\.9', '1';
@for $i from 1 through length($ops) {
  $val: nth($opVal, $i);
  $op: nth($ops, $i);
  .op#{$val} {
    opacity: #{$op};
  }
}

//cursor
.curp {
  cursor: pointer;
}

.curc {
  cursor: crosshair;
}

//list style
.lsn {
  list-style: none;
}

//border
.bdn {
  border: none;
}

.bd1-s-white {
  border: 1px solid $color-white;
}

.bd1-s-black {
  border: 1px solid $color-black;
}

.bd1-s-lightgray {
  border: 1px solid $color-lightgray;
}

.bd1-s-gray {
  border: 1px solid $color-gray;
}

.bt1-s-white {
  border-top: 1px solid $color-white;
}

.bb1-s-white {
  border-bottom: 1px solid $color-white;
}

.bt1-s-black {
  border-top: 1px solid $color-black;
}

.bb1-s-black {
  border-bottom: 1px solid $color-black;
}

.bt1-s-lightgray {
  border-top: 1px solid $color-lightgray;
}

.bb1-s-lightgray {
  border-bottom: 1px solid $color-lightgray;
}

.br1-s-lightgray {
  border-right: 1px solid $color-lightgray;
}

.bl1-s-lightgray {
  border-left: 1px solid $color-lightgray;
}

.bt1-s-gray {
  border-top: 1px solid $color-gray;
}

.bb1-s-gray {
  border-bottom: 1px solid $color-gray;
}

.br1-s-white {
  border-right: 1px solid $color-white;
}

.bl1-s-white {
  border-left: 1px solid $color-white;
}

.br1-s-gray {
  border-right: 1px solid $color-gray;
}

.bl1-s-gray {
  border-left: 1px solid $color-gray;
}

.br1-s-black {
  border-right: 1px solid $color-black;
}

.bl1-s-black {
  border-left: 1px solid $color-black;
}

//border radius
$bdrss: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $bdrs in $bdrss {
  .bdrs#{$bdrs} {
    border-radius: #{$bdrs}px;
  }
}

@media all and (max-width: $bp-md) {
  $pxs: 0, 1, 5, 10, 15, 20, 25, 30;

  //padding/margin/height/width
  @each $w in $pxs {
    .p#{$w}\@md {
      padding: #{$w}px;
    }
    
    .p#{$w}-0\@md {
      padding: #{$w}px 0;
    }
    
    .p0-#{$w}\@md {
      padding: 0 #{$w}px;
    }
    
    .m#{$w}\@md {
      margin: #{$w}px;
    }
    
    .m#{$w}-0\@md {
      margin: #{$w}px 0;
    }
    
    .m0-#{$w}\@md {
      margin: 0 #{$w}px;
    }

    .h#{$w}\@md {
      height: #{$w}px;
    }

    .w#{$w}\@md {
      width: #{$w}px;
    }

    .t#{$w}\@md {
      top: #{$w}px;
    }

    .b#{$w}\@md {
      bottom: #{$w}px;
    }

    .l#{$w}\@md {
      left: #{$w}px;
    }

    .r#{$w}\@md {
      right: #{$w}px;
    }
  }

  @each $w in $pxs {
    .pt#{$w}\@md {
      padding-top: #{$w}px;
    }
    
    .pb#{$w}\@md {
      padding-bottom: #{$w}px;
    }
    
    .pr#{$w}\@md {
      padding-right: #{$w}px;
    }
    
    .pl#{$w}\@md {
      padding-left: #{$w}px;
    }
    
    .mt#{$w}\@md {
      margin-top: #{$w}px;
    }
    
    .mb#{$w}\@md {
      margin-bottom: #{$w}px;
    }
    
    .mr#{$w}\@md {
      margin-right: #{$w}px;
    }
    
    .ml#{$w}\@md {
      margin-left: #{$w}px;
    }
  }

  //padding/margin/height/width by percentage
  $perc: .01, .02, .03, .04, .05, .10, .1225, .15, .20, .25, .30, .333333, .35, .40, .45, .50, .55, .60, .65, .666666, .70, .75, .80, .85, .90, .95, 1, 1.1, 1.2, 1.3, 1.4, 1.5;
  $percVal: '1', '2', '3', '4', '5', '10', '12\\.25', '15', '20', '25', '30', '33\\.3333', '35', '40', '45', '50', '55', '60', '65', '66\\.6666', '70', '75', '80', '85', '90', '95', '100', '110', '120' ,'130' ,'140' ,'150';
  @for $i from 1 through length($perc) {
    $val: nth($percVal, $i);
    $p  : nth($perc, $i);

    .w#{$val}\%\@md {
      width: percentage($p);
    }

    .h#{$val}\%\@md {
      height: percentage($p);
    }

    .t#{$val}\%\@md {
      top: percentage($p);
    }

    .b#{$val}\%\@md {
      bottom: percentage($p);
    }

    .l#{$val}\%\@md {
      left: percentage($p);
    }

    .r#{$val}\%\@md {
      right: percentage($p);
    }
  }

  .mih100\%\@md {
    min-height: 100%;
  }

  .mah100\%\@md {
    max-height: 100%;
  }

  .miw100\%\@md {
    min-width: 100%;
  }

  .mah100\%\@md {
    max-height: 100%;
  }

  $vws: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

  @each $vw in $vws {
    .h#{$vw}vh\@md {
      height: #{$vw}vh;
    }

    .w#{$vw}vh\@md {
      width: #{$vw}vh;
    }

    .h#{$vw}vw\@md {
      height: #{$vw}vw;
    }

    .w#{$vw}vw\@md {
      width: #{$vw}vw;
    }
  }

  .dn\@md {
    display: none;
  }

  .db\@md {
    display: block;
  }

  .dib\@md {
    display: inline-block;
  }

  .d-i\@md {
    display: inline;
  }

  .df\@md {
    display: flex;
  }

  .dif\@md {
    display: inline-flex;
  }

  .fxdr\@md {
    flex-direction: row;
  }

  .fxdc\@md {
    flex-direction: column;
  }

  .fxdrr\@md {
    flex-direction: row-reverse;
  }

  .fxdcr\@md {
    flex-direction: column-reverse;
  }

  .jcfs\@md {
    justify-content: flex-start;
  }

  .jcfe\@md {
    justify-content: flex-end;
  }

  .jcc\@md {
    justify-content: center;
  }

  //position
  .poss\@md {
    position: static;
  }

  .posr\@md {
    position: relative;
  }

  .posa\@md {
    position: absolute;
  }

  .posf\@md {
    position: fixed;
  }

  //floats
  .fll\@md {
    float: left;
  }

  .flr\@md {
    float: right;
  }

  .fln\@md {
    float: none;
  }

  //font size
  $fzs:  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;

  @each $fz in $fzs {
    .fz#{$fz}\@md {
      font-size: #{$fz}px;
    }
  }
}

@media all and (max-width: $bp-sm) {
  $pxs: 0, 1, 5, 10, 15, 20, 25, 30;

  //padding/margin/height/width
  @each $w in $pxs {
    .p#{$w}\@sm {
      padding: #{$w}px;
    }
    
    .p#{$w}-0\@sm {
      padding: #{$w}px 0;
    }
    
    .p0-#{$w}\@sm {
      padding: 0 #{$w}px;
    }
    
    .m#{$w}\@sm {
      margin: #{$w}px;
    }
    
    .m#{$w}-0\@sm {
      margin: #{$w}px 0;
    }
    
    .m0-#{$w}\@sm {
      margin: 0 #{$w}px;
    }

    .h#{$w}\@sm {
      height: #{$w}px;
    }

    .w#{$w}\@sm {
      width: #{$w}px;
    }

    .t#{$w}\@sm {
      top: #{$w}px;
    }

    .b#{$w}\@sm {
      bottom: #{$w}px;
    }

    .l#{$w}\@sm {
      left: #{$w}px;
    }

    .r#{$w}\@sm {
      right: #{$w}px;
    }
  }

  @each $w in $pxs {
    .pt#{$w}\@sm {
      padding-top: #{$w}px;
    }
    
    .pb#{$w}\@sm {
      padding-bottom: #{$w}px;
    }
    
    .pr#{$w}\@sm {
      padding-right: #{$w}px;
    }
    
    .pl#{$w}\@sm {
      padding-left: #{$w}px;
    }
    
    .mt#{$w}\@sm {
      margin-top: #{$w}px;
    }
    
    .mb#{$w}\@sm {
      margin-bottom: #{$w}px;
    }
    
    .mr#{$w}\@sm {
      margin-right: #{$w}px;
    }
    
    .ml#{$w}\@sm {
      margin-left: #{$w}px;
    }
  }

  //padding/margin/height/width by percentage
  $perc: .01, .02, .03, .04, .05, .10, .1225, .15, .20, .25, .30, .333333, .35, .40, .45, .50, .55, .60, .65, .666666, .70, .75, .80, .85, .90, .95, 1, 1.1, 1.2, 1.3, 1.4, 1.5;
  $percVal: '1', '2', '3', '4', '5', '10', '12\\.25', '15', '20', '25', '30', '33\\.3333', '35', '40', '45', '50', '55', '60', '65', '66\\.6666', '70', '75', '80', '85', '90', '95', '100', '110', '120' ,'130' ,'140' ,'150';
  @for $i from 1 through length($perc) {
    $val: nth($percVal, $i);
    $p  : nth($perc, $i);

    .w#{$val}\%\@sm {
      width: percentage($p);
    }

    .h#{$val}\%\@sm {
      height: percentage($p);
    }

    .t#{$val}\%\@sm {
      top: percentage($p);
    }

    .b#{$val}\%\@sm {
      bottom: percentage($p);
    }

    .l#{$val}\%\@sm {
      left: percentage($p);
    }

    .r#{$val}\%\@sm {
      right: percentage($p);
    }
  }

  .mih100\%\@sm {
    min-height: 100%;
  }

  .mah100\%\@sm {
    max-height: 100%;
  }

  .miw100\%\@sm {
    min-width: 100%;
  }

  .mah100\%\@sm {
    max-height: 100%;
  }

  $vws: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

  @each $vw in $vws {
    .h#{$vw}vh\@sm {
      height: #{$vw}vh;
    }

    .w#{$vw}vh\@sm {
      width: #{$vw}vh;
    }

    .h#{$vw}vw\@sm {
      height: #{$vw}vw;
    }

    .w#{$vw}vw\@sm {
      width: #{$vw}vw;
    }
  }

  .dn\@sm {
    display: none;
  }

  .db\@sm {
    display: block;
  }

  .dib\@sm {
    display: inline-block;
  }

  .d-i\@sm {
    display: inline;
  }

  .df\@sm {
    display: flex;
  }

  .dif\@sm {
    display: inline-flex;
  }

  .fxdr\@sm {
    flex-direction: row;
  }

  .fxdc\@sm {
    flex-direction: column;
  }

  .fxdrr\@sm {
    flex-direction: row-reverse;
  }

  .fxdcr\@sm {
    flex-direction: column-reverse;
  }

  .jcfs\@sm {
    justify-content: flex-start;
  }

  .jcfe\@sm {
    justify-content: flex-end;
  }

  .jcc\@sm {
    justify-content: center;
  }

  //position
  .poss\@sm {
    position: static;
  }

  .posr\@sm {
    position: relative;
  }

  .posa\@sm {
    position: absolute;
  }

  .posf\@sm {
    position: fixed;
  }

  //floats
  .fll\@sm {
    float: left;
  }

  .flr\@sm {
    float: right;
  }

  .fln\@sm {
    float: none;
  }

  //font size
  $fzs:  10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 34, 36, 42, 48;

  @each $fz in $fzs {
    .fz#{$fz}\@sm {
      font-size: #{$fz}px;
    }
  }
}