@if $helpers-on {
	// obligatory clearfix
	.clearfix::after {
	  content: "";
	  display: table;
	  clear: both;
	}

	// converts overflow text to ellipsis
	.truncate-text {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

	// All direct children will be justified
	.justify-children {
		text-align: justify;

		&::after {
			content: "";
			display: inline-block;
			width: 100%;
			height: 0;
		}

		& > * {
			display: inline-block;
		}
	}

	// use a checkbox to show and hide sibling elements with target class
	.toggle-sibling {
		& ~ .toggle-sibling-target {
			display: none;
		}

		&:checked ~ .toggle-sibling-target {
			display: block;
		}

		&:checked ~ .toggle-sibling-target-ib {
			display: inline-block;
		}
	}

	//use border-radius to create a circle shape
	.round-element {
		border-radius: 100%;
	}


	//center elements horizontally and/or vertically
	.center-vert {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.center-hori {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.center {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.center-hori-abs {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.center-vert-abs {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.center-abs {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.center-hori-fix {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}

	.center-vert-fix {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
	}

	.center-fix {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@each $bp in $helper-bps {
		$name: nth(nth($bp, 1), 2);
		$cond: nth(nth($bp, 2), 2);
		@media all and (#{$cond}) {
			.center-vert\@#{$name} {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}

			.center-hori\@#{$name} {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}

			.center\@#{$name} {
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.center-hori-abs\@#{$name} {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			.center-vert-abs\@#{$name} {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			.center-abs\@#{$name} {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.center-hori-fix\@#{$name} {
				position: fixed;
				left: 50%;
				transform: translateX(-50%);
			}

			.center-vert-fix\@#{$name} {
				position: fixed;
				top: 50%;
				transform: translateY(-50%);
			}

			.center-fix\@#{$name} {
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	//transforms
	.rotZ45 {
		transform: rotateZ(45deg);
	}

	.rotZ90 {
		transform: rotateZ(90deg);
	}

	.rotZ-45 {
		transform: rotateZ(-45deg);
	}

	.rotZ-90 {
		transform: rotateZ(-90deg);
	}

	.sca50 {
		transform: scale(.5, .5);
	}

	.sca150 {
		transform: scale(1.5, 1.5);
	}

	.sca200 {
		transform: scale(2, 2);
	}

	//transition settings
	.trans-op {
		transition: opacity .3s ease-in-out;
	}

	.trans-c {
		transition: color .3s ease-in-out;
	}

	.trans-bg {
		transition: background .3s ease-in-out;
	}

	.trans-transf {
		transition: transform .3s ease-in-out;
	}

	.trans-t {
		transition: top .3s ease-in-out;
	}

	.trans-b {
		transition: bottom .3s ease-in-out;
	}

	.trans-l {
		transition: left .3s ease-in-out;
	}

	.trans-r {
		transition: right .3s ease-in-out;
	}

	.trans-all {
		transition: all .3s ease-in-out;
	}
}
