//variables that can be overridden external to atomic
@import "config/variables";

//collection of single style classes
	// the goal is to allow wireframing to (mostly) be accomplished 
	// with atomic styles and for the finished design styles to be in 
	// component css (mostly in media queries)
@import "atomic/atomic";

//styles that can be reused
@import "atomic/helpers";