//variable naming
// use $<property>-description: value
	// ex.
	// $color-light-blue
	// $width-large

// wire framing colors
$color-black    : #101010 !default;
$color-white    : #fefefe !default;
$color-lightgray: lightgray !default;
$color-gray     : gray !default;

// breakpoints
$bp-lg : 1097px !default;
$bp-md : 784px !default;
$bp-sm : 560px !default;