// background-position-x bgp-
$background-position : (
  ( vals: (
    'c': center,
  ),),
);

// background-position-x bgpx-
$background-position-x : (
  ( vals: (
    'c': center,
  ),),
);

// background-position-x bgpy-
$background-position-y : (
  ( vals: (
    'c': center,
  ),),
);