// opacity op
$opacity : (
  ( vals: (
    '0': 0,
    '1': 1,
  ),),
);

// opacity opval:h
$opacity-hover : (
  ( vals: (
    '0': 0,
    '1': 1,
  ),),
);
// opacity opval:f
$opacity-focus : (
  ( vals: (
    '0': 0,
    '1': 1,
  ),),
);