
// overflow o
$overflow : (
  ( vals: (
    'v': visible,
    'h' : hidden,
    's' : scroll,
  ),),
);

// overflow-y oy
$overflow-x : (
  ( vals: (
    'v': visible,
    'h' : hidden,
    's' : scroll,
  ),),
);

// overflow-x ox
$overflow-x : (
  ( vals: (
    'v': visible,
    'h' : hidden,
    's' : scroll,
  ),),
);