$bgcs: ('white': $color-white, 'lightgray':$color-lightgray, 'gray':$color-gray, 'black':$color-black, 't': transparent) !default;
@each $name, $color in $bgcs {  
  .bgc-#{$name} {
    background-color: $color;
  }
  .bgc-#{$name}\:h:hover {
    background-color: $color;
  }
}