.bdn {
  border: none;
}

$bdColors: ('white': $color-white, 'lightgray':$color-lightgray, 'gray':$color-gray, 'black':$color-black) !default;
@each $name, $color in $bdColors {
  .bd1-s-#{$name} {
    border: 1px solid $color;
  }
  .bt1-s-#{$name} {
    border-bottom: 1px solid $color;
  }
  .bb1-s-#{$name} {
    border-top: 1px solid $color;
  }
  .br1-s-#{$name} {
    border-right: 1px solid $color;
  }
  .bl1-s-#{$name} {
    border-left: 1px solid $color;
  }
}

//border radius
$bdrss: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 !default;
@each $bdrs in $bdrss {
  .bdrs#{$bdrs} {
    border-radius: #{$bdrs}px;
  }
}
