@if $border-on {
  @if $bds-on {
    .bdn {
      border: none;
    }

    @each $px,$typeName,$type,$colorName,$color in $bds {
      .bd#{$px}-#{$typeName}-#{$colorName} {
        border: #{$px}px #{$type} $color;
      }
      .bt#{$px}-#{$typeName}-#{$colorName} {
        border-top: #{$px}px #{$type} $color;
      }
      .bb#{$px}-#{$typeName}-#{$colorName} {
        border-bottom: #{$px}px #{$type} $color;
      }
      .br#{$px}-#{$typeName}-#{$colorName} {
        border-right: #{$px}px #{$type} $color;
      }
      .bl#{$px}-#{$typeName}-#{$colorName} {
        border-left: #{$px}px #{$type} $color;
      }
    }
  }

  @if $bdrs-on {
    @each $bdrs in $bdrss {
      .bdrs#{$bdrs} {
        border-radius: #{$bdrs}px;
      }
    }
  }
}
