@if $bottom-on {
  @if $bs-px-on {
    @each $px in $bs-px {
      .b#{$px} {
        bottom: #{$px}px;
      }
    }
  }

  @if $bs-perc-on {
    @each $name, $value in $bs-perc {
      .b#{$name}\% {
        bottom: percentage($value);
      }
    }
  }

  @media all and (max-width: $bp-lg) {
    @if $bs-px-on {
      @each $px in $bs-px-lg {
        .b#{$px}\@lg {
          bottom: #{$px}px;
        }
      }
    }

    @if $bs-perc-on {
      @each $name, $value in $bs-perc-lg {
        .b#{$name}\%\@lg {
          bottom: percentage($value);
        }
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @if $bs-px-on {
      @each $px in $bs-px-md {
        .b#{$px}\@md {
          bottom: #{$px}px;
        }
      }
    }

    @if $bs-perc-on {
      @each $name, $value in $bs-perc-md {
        .b#{$name}\%\@md {
          bottom: percentage($value);
        }
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @if $bs-px-on {
      @each $px in $bs-px-sm {
        .b#{$px}\@sm {
          bottom: #{$px}px;
        }
      }
    }

    @if $bs-perc-on {
      @each $name, $value in $bs-perc-sm {
        .b#{$name}\%\@sm {
          bottom: percentage($value);
        }
      }
    }
  }
}
