//color
$cColors: ('white': $color-white, 'lightgray':$color-lightgray, 'gray':$color-gray, 'black':$color-black) !default;
@each $name, $color in $cColors { 
  .c-#{$name} {
    color: $color;
  }
  .c-#{$name}\:h:hover {
    color: $color;
  }
}