.c-white {
  color: $color-white;
}

.c-lightgray {
  color: $color-lightgray;
}

.c-gray {
  color: $color-gray;
}

.c-black {
  color: $color-black;
}

.c-white\:h:hover {
  color: $color-white;
}

.c-lightgray\:h:hover {
  color: $color-lightgray;
}

.c-gray\:h:hover {
  color: $color-gray;
}

.c-black\:h:hover {
  color: $color-black;
}