@each $name,$value in $ds {
  .d#{$name} {
    display: #{$value};
  }
}

@media all and (max-width: $bp-md) {
  @each $name,$value in $ds-md {
    .d#{$name}\@md {
      display: #{$value};
    }
  }
}

@media all and (max-width: $bp-sm) {
  @each $name,$value in $ds-sm {
    .d#{$name}\@sm {
      display: #{$value};
    }
  }
}
