@if $flex-on {
  @if $fxdrs-on {
    @each $name,$value in $fxdrs {
      .fxd#{$name} {
        flex-direction: $value;
      }
    }
  }

  @if $flxs-on {
    @each $flx in $flxs {
      .flx#{$flx} {
        flex: $flx;
      }
    }
  }

  @if $fxws-on {
    @each $name,$value in $fxws {
      .fxw#{$name} {
        flex-wrap: $value;
      }
    }
  }

  @if $jcs-on {
    @each $name,$value in $jcs {
      .jc#{$name} {
        justify-content: $value;
      }
    }
  }

  @if $ais-on {
    @each $name,$value in $ais {
      .ai#{$name} {
        align-items: $value;
      }
    }
  }

  @if $ass-on {
    @each $name,$value in $ass {
      .as#{$name} {
        align-self: $value;
      }
    }
  }

  @if $ords-on {
    @each $ord in $ords {
      .ord#{$ord} {
        order: $ord;
      }
    }
  }

  @if $fxgs-on {  @each $fxg in $fxgs {
      .fxg#{$fxg} {
        flex-grow: $fxg;
      }
    }
  }

  @if $fxshs-on {
    @each $fxsh in $fxshs {
      .fxsh#{$fxsh} {
        flex-shrink: $fxsh;
      }
    }
  }

  @if $fxbs-on {
    @each $fxb in $fxbs {
      .fxb#{$fxb} {
        flex-basis: #{$fxb}px;
      }
    }

    .fxba {
      flex-basis: auto;
    }
  }

  @media all and (max-width: $bp-lg) {
    @if $fxdrs-on {
      @each $name,$value in $fxdrs-lg {
        .fxd#{$name}\@lg {
          flex-direction: $value;
        }
      }
    }

    @if $jcs-on {
      @each $name,$value in $jcs-lg {
        .jc#{$name}\@lg {
          justify-content: $value;
        }
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @if $fxdrs-on {
      @each $name,$value in $fxdrs-md {
        .fxd#{$name}\@md {
          flex-direction: $value;
        }
      }
    }

    @if $jcs-on {
      @each $name,$value in $jcs-md {
        .jc#{$name}\@md {
          justify-content: $value;
        }
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @if $fxdrs-on {
      @each $name,$value in $fxdrs-sm {
        .fxd#{$name}\@sm {
          flex-direction: $value;
        }
      }
    }

    @if $jcs-on {
      @each $name,$value in $jcs-sm {
        .jc#{$name}\@sm {
          justify-content: $value;
        }
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @if $fxdrs-on {
      @each $name,$value in $fxdrs-smx {
        .fxd#{$name}\@smx {
          flex-direction: $value;
        }
      }
    }

    @if $jcs-on {
      @each $name,$value in $jcs-smx {
        .jc#{$name}\@smx {
          justify-content: $value;
        }
      }
    }
  }
}
