@if $fls-on {
  @each $name,$value in $fls {
    .fl#{$name} {
      float: $value;
    }
  }

  @media all and (max-width: $bp-lg) {
    @each $name,$value in $fls-lg {
      .fl#{$name}\@lg {
        float: $value;
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @each $name,$value in $fls-md {
      .fl#{$name}\@md {
        float: $value;
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @each $name,$value in $fls-sm {
      .fl#{$name}\@sm {
        float: $value;
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @each $name,$value in $fls-smx {
      .fl#{$name}\@smx {
        float: $value;
      }
    }
  }
}
