@if $height-on {
  @if $hs-px-on {
    @each $px in $hs-px {
      .h#{$px} {
        height: #{$px}px;
      }
    }
  }

  @if $hs-perc-on {
    @each $name,$value in $hs-perc {
      .h#{$name}\% {
        height: percentage($value);
      }
    }
  }

  @if $hs-vh-on {
    @each $vh in $hs-vh {
      .h#{$vh}vh {
        height: #{$vh}vh;
      }
    }
  }

  @if $hs-vw-on {
    @each $vw in $hs-vw {
      .h#{$vw}vw {
        height: #{$vw}vw;
      }
    }
  }

  @if $hs-perc-on {
    .mih100\% {
      min-height: 100%;
    }

    .mah100\% {
      max-height: 100%;
    }
  }

  @media all and (max-width: $bp-lg) {
    @if $hs-px-on {
      @each $px in $hs-px-lg {
        .h#{$px}\@lg {
          height: #{$px}px;
        }
      }
    }

    @if $hs-perc-on {
      @each $name,$value in $hs-perc-lg {
        .h#{$name}\%\@lg {
          height: percentage($value);
        }
      }
    }

    @if $hs-vh-on {
      @each $vh in $hs-vh-lg {
        .h#{$vh}vh\@lg {
          height: #{$vh}vh;
        }
      }
    }

    @if $hs-vw-on {
      @each $vw in $hs-vw-lg {
        .h#{$vw}vw\@lg {
          height: #{$vw}vw;
        }
      }
    }

    @if $hs-perc-on {
      .mih100\%\@lg {
        min-height: 100%;
      }

      .mah100\%\@lg {
        max-height: 100%;
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @if $hs-px-on {
      @each $px in $hs-px-md {
        .h#{$px}\@md {
          height: #{$px}px;
        }
      }
    }

    @if $hs-perc-on {
      @each $name,$value in $hs-perc-md {
        .h#{$name}\%\@md {
          height: percentage($value);
        }
      }
    }

    @if $hs-vh-on {
      @each $vh in $hs-vh-md {
        .h#{$vh}vh\@md {
          height: #{$vh}vh;
        }
      }
    }

    @if $hs-vw-on {
      @each $vw in $hs-vw-md {
        .h#{$vw}vw\@md {
          height: #{$vw}vw;
        }
      }
    }

    @if $hs-perc-on {
      .mih100\%\@md {
        min-height: 100%;
      }

      .mah100\%\@md {
        max-height: 100%;
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @if $hs-px-on {
      @each $px in $hs-px-sm {
        .h#{$px}\@sm {
          height: #{$px}px;
        }
      }
    }

    @if $hs-perc-on {
      @each $name,$value in $hs-perc-sm {
        .h#{$name}\%\@sm {
          height: percentage($value);
        }
      }
    }

    @if $hs-vh-on {
      @each $vh in $hs-vh-sm {
        .h#{$vh}vh\@sm {
          height: #{$vh}vh;
        }
      }
    }

    @if $hs-vw-on {
      @each $vw in $hs-vw-sm {
        .h#{$vw}vw\@sm {
          height: #{$vw}vw;
        }
      }
    }

    @if $hs-perc-on {
      .mih100\%\@sm {
        min-height: 100%;
      }

      .mah100\%\@sm {
        max-height: 100%;
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @if $hs-px-on {
      @each $px in $hs-px-smx {
        .h#{$px}\@smx {
          height: #{$px}px;
        }
      }
    }

    @if $hs-perc-on {
      @each $name,$value in $hs-perc-smx {
        .h#{$name}\%\@smx {
          height: percentage($value);
        }
      }
    }

    @if $hs-vh-on {
      @each $vh in $hs-vh-smx {
        .h#{$vh}vh\@smx {
          height: #{$vh}vh;
        }
      }
    }

    @if $hs-vw-on {
      @each $vw in $hs-vw-smx {
        .h#{$vw}vw\@smx {
          height: #{$vw}vw;
        }
      }
    }

    @if $hs-perc-on {
      .mih100\%\@smx {
        min-height: 100%;
      }

      .mah100\%\@smx {
        max-height: 100%;
      }
    }
  }
}