@each $px in $pxs {
  .l#{$px} {
    left: #{$px}px;
  }
}

@for $i from 1 through length($perc) {
  $val: nth($percVal, $i);
  $p  : nth($perc, $i);
  .l#{$val}\% {
    left: percentage($p);
  }
}

@media all and (max-width: $bp-md) {
  @each $px in $pxs {
    .l#{$px}\@md {
      left: #{$px}px;
    }
  }
}

@media all and (max-width: $bp-sm) {
  @each $px in $pxs {
    .l#{$px}\@sm {
      left: #{$px}px;
    }
  }
}