@each $px in $pxs {
  .m#{$px} {
    margin: #{$px}px;
  }
  
  .m#{$px}-0 {
    margin: #{$px}px 0;
  }
  
  .m0-#{$px} {
    margin: 0 #{$px}px;
  }
}

@each $px in $pxs {
  .mt#{$px} {
    margin-top: #{$px}px;
  }
  
  .mb#{$px} {
    margin-bottom: #{$px}px;
  }
  
  .mr#{$px} {
    margin-right: #{$px}px;
  }
  
  .ml#{$px} {
    margin-left: #{$px}px;
  }
}

.m0-auto {
  margin: 0 auto;
}

@media all and (max-width: $bp-md) {
  @each $px in $pxs {
    .m#{$px}\@md {
      margin: #{$px}px;
    }
    
    .m#{$px}-0\@md {
      margin: #{$px}px 0;
    }
    
    .m0-#{$px}\@md {
      margin: 0 #{$px}px;
    }
  }

  @each $px in $pxs {    
    .mt#{$px}\@md {
      margin-top: #{$px}px;
    }
    
    .mb#{$px}\@md {
      margin-bottom: #{$px}px;
    }
    
    .mr#{$px}\@md {
      margin-right: #{$px}px;
    }
    
    .ml#{$px}\@md {
      margin-left: #{$px}px;
    }
  }

  .m0-auto\@md {
    margin: 0 auto;
  }
}