@if $ms-on {
  @each $px in $ms-px {
    .m#{$px} {
      margin: #{$px}px;
    }

    .m#{$px}-0 {
      margin: #{$px}px 0;
    }

    .m0-#{$px} {
      margin: 0 #{$px}px;
    }
  }

  @each $px in $ms-px {
    .mt#{$px} {
      margin-top: #{$px}px;
    }

    .mb#{$px} {
      margin-bottom: #{$px}px;
    }

    .mr#{$px} {
      margin-right: #{$px}px;
    }

    .ml#{$px} {
      margin-left: #{$px}px;
    }
  }

  .m0-auto {
    margin: 0 auto;
  }

  .ml-auto {
    margin-left: auto;
  }

  .mr-auto {
    margin-right: auto;
  }

  @media all and (max-width: $bp-lg) {
    @each $px in $ms-px-lg {
      .m#{$px}\@lg {
        margin: #{$px}px;
      }

      .m#{$px}-0\@lg {
        margin: #{$px}px 0;
      }

      .m0-#{$px}\@lg {
        margin: 0 #{$px}px;
      }
    }

    @each $px in $ms-px-lg {
      .mt#{$px}\@lg {
        margin-top: #{$px}px;
      }

      .mb#{$px}\@lg {
        margin-bottom: #{$px}px;
      }

      .mr#{$px}\@lg {
        margin-right: #{$px}px;
      }

      .ml#{$px}\@lg {
        margin-left: #{$px}px;
      }
    }

    .m0-auto\@lg {
      margin: 0 auto;
    }

    .ml-auto\@lg {
      margin-left: auto;
    }

    .mr-auto\@lg {
      margin-right: auto;
    }
  }

  @media all and (max-width: $bp-md) {
    @each $px in $ms-px-md {
      .m#{$px}\@md {
        margin: #{$px}px;
      }

      .m#{$px}-0\@md {
        margin: #{$px}px 0;
      }

      .m0-#{$px}\@md {
        margin: 0 #{$px}px;
      }
    }

    @each $px in $ms-px-md {
      .mt#{$px}\@md {
        margin-top: #{$px}px;
      }

      .mb#{$px}\@md {
        margin-bottom: #{$px}px;
      }

      .mr#{$px}\@md {
        margin-right: #{$px}px;
      }

      .ml#{$px}\@md {
        margin-left: #{$px}px;
      }
    }

    .m0-auto\@md {
      margin: 0 auto;
    }

    .ml-auto\@md {
      margin-left: auto;
    }

    .mr-auto\@md {
      margin-right: auto;
    }
  }

  @media all and (max-width: $bp-sm) {
    @each $px in $ms-px-sm {
      .m#{$px}\@sm {
        margin: #{$px}px;
      }

      .m#{$px}-0\@sm {
        margin: #{$px}px 0;
      }

      .m0-#{$px}\@sm {
        margin: 0 #{$px}px;
      }
    }

    @each $px in $ms-px-sm {
      .mt#{$px}\@sm {
        margin-top: #{$px}px;
      }

      .mb#{$px}\@sm {
        margin-bottom: #{$px}px;
      }

      .mr#{$px}\@sm {
        margin-right: #{$px}px;
      }

      .ml#{$px}\@sm {
        margin-left: #{$px}px;
      }
    }

    .m0-auto\@sm {
      margin: 0 auto;
    }

    .ml-auto\@sm {
      margin-left: auto;
    }

    .mr-auto\@sm {
      margin-right: auto;
    }
  }

  @media all and (max-width: $bp-smx) {
    @each $px in $ms-px-smx {
      .m#{$px}\@smx {
        margin: #{$px}px;
      }

      .m#{$px}-0\@smx {
        margin: #{$px}px 0;
      }

      .m0-#{$px}\@smx {
        margin: 0 #{$px}px;
      }
    }

    @each $px in $ms-px-smx {
      .mt#{$px}\@smx {
        margin-top: #{$px}px;
      }

      .mb#{$px}\@smx {
        margin-bottom: #{$px}px;
      }

      .mr#{$px}\@smx {
        margin-right: #{$px}px;
      }

      .ml#{$px}\@smx {
        margin-left: #{$px}px;
      }
    }

    .m0-auto\@smx {
      margin: 0 auto;
    }

    .ml-auto\@smx {
      margin-left: auto;
    }

    .mr-auto\@smx {
      margin-right: auto;
    }
  }
}
