@if $max-width-on {
  @if $maws-px-on {
      @each $px in $maws-px {
      .maw#{$px} {
        max-width: #{$px}px;
      }
    }
  }

  @if $maws-perc-on {
    @each $name,$value in $maws-perc {
      .maw#{$name}\% {
        max-width: percentage($value);
      }
    }
  }

  @if $maws-vh-on {
    @each $vh in $maws-vh {
      .maw#{$vh}vh {
        max-width: #{$vh}vh;
      }
    }
  }

  @if $maws-vw-on {
    @each $vw in $maws-vw {
      .maw#{$vw}vw {
        max-width: #{$vw}vw;
      }
    }
  }

  @media all and (max-width: $bp-lg) {
    @if $maws-px-on {
      @each $px in $maws-px-lg {
        .maw#{$px}\@lg {
          max-width: #{$px}px;
        }
      }
    }

    @if $maws-perc-on {
      @each $name,$value in $maws-perc-lg {
        .maw#{$name}\%\@lg {
          max-width: percentage($value);
        }
      }
    }

    @if $maws-vh-on {
      @each $vh in $maws-vh-lg {
        .maw#{$vh}vh\@lg {
          max-width: #{$vh}vh;
        }
      }
    }

    @if $maws-vw-on {
      @each $vw in $maws-vw-lg {
        .maw#{$vw}vw\@lg {
          max-width: #{$vw}vw;
        }
      }
    }

  }

  @media all and (max-width: $bp-md) {
    @if $maws-px-on {
      @each $px in $maws-px-md {
        .maw#{$px}\@md {
          max-width: #{$px}px;
        }
      }
    }

    @if $maws-perc-on {
      @each $name,$value in $maws-perc-md {
        .maw#{$name}\%\@md {
          max-width: percentage($value);
        }
      }
    }

    @if $maws-vh-on {
      @each $vh in $maws-vh-md {
        .maw#{$vh}vh\@md {
          max-width: #{$vh}vh;
        }
      }
    }

    @if $maws-vw-on {
      @each $vw in $maws-vw-md {
        .maw#{$vw}vw\@md {
          max-width: #{$vw}vw;
        }
      }
    }

  }

  @media all and (max-width: $bp-sm) {
    @if $maws-px-on {
      @each $px in $maws-px-sm {
        .maw#{$px}\@sm {
          max-width: #{$px}px;
        }
      }
    }

    @if $maws-perc-on {
      @each $name,$value in $maws-perc-sm {
        .maw#{$name}\%\@sm {
          max-width: percentage($value);
        }
      }
    }

    @if $maws-vh-on {
      @each $vh in $maws-vh-sm {
        .maw#{$vh}vh\@sm {
          max-width: #{$vh}vh;
        }
      }
    }

    @if $maws-vw-on {
      @each $vw in $maws-vw-sm {
        .maw#{$vw}vw\@sm {
          max-width: #{$vw}vw;
        }
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @if $maws-px-on {
      @each $px in $maws-px-smx {
        .maw#{$px}\@smx {
          max-width: #{$px}px;
        }
      }
    }

    @if $maws-perc-on {
      @each $name,$value in $maws-perc-smx {
        .maw#{$name}\%\@smx {
          max-width: percentage($value);
        }
      }
    }

    @if $maws-vh-on {
      @each $vh in $maws-vh-smx {
        .maw#{$vh}vh\@smx {
          max-width: #{$vh}vh;
        }
      }
    }

    @if $maws-vw-on {
      @each $vw in $maws-vw-smx {
        .maw#{$vw}vw\@smx {
          max-width: #{$vw}vw;
        }
      }
    }
  }
}
