@if $min-height-on {
  @if $mihs-px-on {
    @each $px in $mihs-px {
      .mih#{$px} {
        min-height: #{$px}px;
      }
    }
  }

  @if $mihs-perc-on {
    @each $name,$value in $mihs-perc {
      .mih#{$name}\% {
        min-height: percentage($value);
      }
    }
  }

  @if $mihs-vh-on {
    @each $vh in $mihs-vh {
      .mih#{$vh}vh {
        min-height: #{$vh}vh;
      }
    }
  }

  @if $mihs-vw-on {
    @each $vw in $mihs-vw {
      .mih#{$vw}vw {
        min-height: #{$vw}vw;
      }
    }
  }

  @media all and (max-width: $bp-lg) {
    @if $mihs-px-on {
      @each $px in $mihs-px-lg {
        .mih#{$px}\@lg {
          min-height: #{$px}px;
        }
      }
    }

    @if $mihs-perc-on {
      @each $name,$value in $mihs-perc-lg {
        .mih#{$name}\%\@lg {
          min-height: percentage($value);
        }
      }
    }

    @if $mihs-vh-on {
      @each $vh in $mihs-vh-lg {
        .mih#{$vh}vh\@lg {
          min-height: #{$vh}vh;
        }
      }
    }

    @if $mihs-vw-on {
      @each $vw in $mihs-vw-lg {
        .mih#{$vw}vw\@lg {
          min-height: #{$vw}vw;
        }
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @if $mihs-px-on {
      @each $px in $mihs-px-md {
        .mih#{$px}\@md {
          min-height: #{$px}px;
        }
      }
    }

    @if $mihs-perc-on {
      @each $name,$value in $mihs-perc-md {
        .mih#{$name}\%\@md {
          min-height: percentage($value);
        }
      }
    }

    @if $mihs-vh-on {
      @each $vh in $mihs-vh-md {
        .mih#{$vh}vh\@md {
          min-height: #{$vh}vh;
        }
      }
    }

    @if $mihs-vw-on {
      @each $vw in $mihs-vw-md {
        .mih#{$vw}vw\@md {
          min-height: #{$vw}vw;
        }
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @if $mihs-px-on {
      @each $px in $mihs-px-sm {
        .mih#{$px}\@sm {
          min-height: #{$px}px;
        }
      }
    }

    @if $mihs-perc-on {
      @each $name,$value in $mihs-perc-sm {
        .mih#{$name}\%\@sm {
          min-height: percentage($value);
        }
      }
    }

    @if $mihs-vh-on {
      @each $vh in $mihs-vh-sm {
        .mih#{$vh}vh\@sm {
          min-height: #{$vh}vh;
        }
      }
    }

    @if $mihs-vw-on {
      @each $vw in $mihs-vw-sm {
        .mih#{$vw}vw\@sm {
          min-height: #{$vw}vw;
        }
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @if $mihs-px-on {
      @each $px in $mihs-px-smx {
        .mih#{$px}\@smx {
          min-height: #{$px}px;
        }
      }
    }

    @if $mihs-perc-on {
      @each $name,$value in $mihs-perc-smx {
        .mih#{$name}\%\@smx {
          min-height: percentage($value);
        }
      }
    }

    @if $mihs-vh-on {
      @each $vh in $mihs-vh-smx {
        .mih#{$vh}vh\@smx {
          min-height: #{$vh}vh;
        }
      }
    }

    @if $mihs-vw-on {
      @each $vw in $mihs-vw-smx {
        .mih#{$vw}vw\@smx {
          min-height: #{$vw}vw;
        }
      }
    }
  }
}