@if $overflow-on {
  @if $os-on {
    @each $name,$value in $os {
      .o#{$name} {
        overflow: $value;
      }
    }
  }

  @if $oxs-on {
    @each $name,$value in $oxs {
      .ox#{$name} {
        overflow-x: $value;
      }
    }
  }

  @if $oys-on {
    @each $name,$value in $oys {
      .o-y#{$name} {
        overflow-y: $value;
      }
    }
  }
}
