@if $ps-on {
  @each $px in $ps-px {
    .p#{$px} {
      padding: #{$px}px;
    }

    .p#{$px}-0 {
      padding: #{$px}px 0;
    }

    .p0-#{$px} {
      padding: 0 #{$px}px;
    }
  }

  @each $px in $ps-px {
    .pt#{$px} {
      padding-top: #{$px}px;
    }

    .pb#{$px} {
      padding-bottom: #{$px}px;
    }

    .pr#{$px} {
      padding-right: #{$px}px;
    }

    .pl#{$px} {
      padding-left: #{$px}px;
    }
  }

  @media all and (max-width: $bp-lg) {
    @each $px in $ps-px-lg {
      .p#{$px}\@lg {
        padding: #{$px}px;
      }

      .p#{$px}-0\@lg {
        padding: #{$px}px 0;
      }

      .p0-#{$px}\@lg {
        padding: 0 #{$px}px;
      }
    }

    @each $px in $ps-px-lg {
      .pt#{$px}\@lg {
        padding-top: #{$px}px;
      }

      .pb#{$px}\@lg {
        padding-bottom: #{$px}px;
      }

      .pr#{$px}\@lg {
        padding-right: #{$px}px;
      }

      .pl#{$px}\@lg {
        padding-left: #{$px}px;
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @each $px in $ps-px-md {
      .p#{$px}\@md {
        padding: #{$px}px;
      }

      .p#{$px}-0\@md {
        padding: #{$px}px 0;
      }

      .p0-#{$px}\@md {
        padding: 0 #{$px}px;
      }
    }

    @each $px in $ps-px-md {
      .pt#{$px}\@md {
        padding-top: #{$px}px;
      }

      .pb#{$px}\@md {
        padding-bottom: #{$px}px;
      }

      .pr#{$px}\@md {
        padding-right: #{$px}px;
      }

      .pl#{$px}\@md {
        padding-left: #{$px}px;
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @each $px in $ps-px-sm {
      .p#{$px}\@sm {
        padding: #{$px}px;
      }

      .p#{$px}-0\@sm {
        padding: #{$px}px 0;
      }

      .p0-#{$px}\@sm {
        padding: 0 #{$px}px;
      }
    }

    @each $px in $ps-px-sm {
      .pt#{$px}\@sm {
        padding-top: #{$px}px;
      }

      .pb#{$px}\@sm {
        padding-bottom: #{$px}px;
      }

      .pr#{$px}\@sm {
        padding-right: #{$px}px;
      }

      .pl#{$px}\@sm {
        padding-left: #{$px}px;
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @each $px in $ps-px-smx {
      .p#{$px}\@smx {
        padding: #{$px}px;
      }

      .p#{$px}-0\@smx {
        padding: #{$px}px 0;
      }

      .p0-#{$px}\@smx {
        padding: 0 #{$px}px;
      }
    }

    @each $px in $ps-px-smx {
      .pt#{$px}\@smx {
        padding-top: #{$px}px;
      }

      .pb#{$px}\@smx {
        padding-bottom: #{$px}px;
      }

      .pr#{$px}\@smx {
        padding-right: #{$px}px;
      }

      .pl#{$px}\@smx {
        padding-left: #{$px}px;
      }
    }
  }
}
