@each $px in $pxs {
  .p#{$px} {
    padding: #{$px}px;
  }
  
  .p#{$px}-0 {
    padding: #{$px}px 0;
  }
  
  .p0-#{$px} {
    padding: 0 #{$px}px;
  }
}

@each $px in $pxs {
  .pt#{$px} {
    padding-top: #{$px}px;
  }
  
  .pb#{$px} {
    padding-bottom: #{$px}px;
  }
  
  .pr#{$px} {
    padding-right: #{$px}px;
  }
  
  .pl#{$px} {
    padding-left: #{$px}px;
  }
}