@if $poss-on {
  @each $name,$value in $poss {
    .pos#{$name} {
      position: $value;
    }
  }

  @media all and (max-width: $bp-lg) {
    @each $name,$value in $poss-lg {
      .pos#{$name}\@lg {
        position: $value;
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @each $name,$value in $poss-md {
      .pos#{$name}\@md {
        position: $value;
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @each $name,$value in $poss-sm {
      .pos#{$name}\@sm {
        position: $value;
      }
    }
  }
}
