@each $px in $rs-px {
  .r#{$px} {
    right: #{$px}px;
  }
}
@each $name, $value in $rs-perc {
  .r#{$name}\% {
    right: percentage($value);
  }
}

@media all and (max-width: $bp-md) {
  @each $px in $rs-px-md {
    .r#{$px}\@md {
      right: #{$px}px;
    }
  }
  @each $name, $value in $rs-perc-md {
    .r#{$name}\%\@md {
      right: percentage($value);
    }
  }
}

@media all and (max-width: $bp-sm) {
  @each $px in $rs-px-sm {
    .r#{$px}\@sm {
      right: #{$px}px;
    }
  }
  @each $name, $value in $rs-perc-sm {
    .r#{$name}\%\@sm {
      right: percentage($value);
    }
  }
}
