$tts: ('u': uppercase, 'n': none) !default;
$tds: ('n': none, 'u': underline) !default;
$tshColors: (
  (1, 1, 1, 'white', $color-white),
  (1, 1, 1, 'lightgray', $color-lightgray),
  (1, 1, 1, 'gray', $color-gray),
  (1, 1, 1, 'black', $color-black),
) !default;

@each $name,$value in $tts {
  .tt#{name} {
    text-transform: $value;
  }
}

@each $name,$value in $tds {
  .td#{name} {
    text-decoration: $value;
  }
}

@each $hoff,$voff,$blur,$colorName,$color in $tshColors {
  .tsh#{$hoff}-#{$voff}-#{$blur}-#{$colorName} {
    text-shadow: #{$hoff}px #{$voff}px #{$blur}px $color;
  }
}