@if $text-on {
  @if $tts-on {
    @each $name,$value in $tts {
      .tt#{$name} {
        text-transform: $value;
      }
    }
  }

  @if $tds-on {
    @each $name,$value in $tds {
      .td#{$name} {
        text-decoration: $value;
      }
    }
  }

  @if $tshs-on {
    @each $hoff,$voff,$blur,$colorName,$color in $tshs {
      .tsh#{$hoff}-#{$voff}-#{$blur}-#{$colorName} {
        text-shadow: #{$hoff}px #{$voff}px #{$blur}px $color;
      }
    }
  }
}