@each $px in $ws-px {
  .w#{$px} {
    width: #{$px}px;
  }
}

@each $name,$value in $ws-perc {
  .w#{$name}\% {
    width: percentage($value);
  }
}

@each $vh in $ws-vh {
  .w#{$vh}vh {
    width: #{$vh}vh;
  }
}

@each $vw in $ws-vw {
  .w#{$vw}vw {
    width: #{$vw}vw;
  }
}

.miw100\% {
  min-width: 100%;
}

.maw100\% {
  max-width: 100%;
}


@media all and (max-width: $bp-md) {  
  @each $px in $ws-px-md {
    .w#{$px}\@md {
      width: #{$px}px;
    }
  }

  @each $name,$value in $ws-perc-md {
    .w#{$name}\%\@md {
      width: percentage($value);
    }
  }

  @each $vh in $ws-vh-md {
    .w#{$vh}vh\@md {
      width: #{$vh}vh;
    }
  }

  @each $vw in $ws-vw-md {
    .w#{$vw}vw\@md {
      width: #{$vw}vw;
    }
  }

  .miw100\%\@md {
    min-width: 100%;
  }

  .maw100\%\@md {
    max-width: 100%;
  }
}

@media all and (max-width: $bp-sm) {
  @each $px in $ws-px-sm {
    .w#{$px}\@sm {
      width: #{$px}px;
    }
  }

  @each $name,$value in $ws-perc-sm {
    .w#{$name}\%\@sm {
      width: percentage($value);
    }
  }

  @each $vh in $ws-vh-sm {
    .w#{$vh}vh\@sm {
      width: #{$vh}vh;
    }
  }

  @each $vw in $ws-vw-sm {
    .w#{$vw}vw\@sm {
      width: #{$vw}vw;
    }
  }

  .miw100\%\@sm {
    min-width: 100%;
  }

  .maw100\%\@sm {
    max-width: 100%;
  }
}
