@each $px in $pxs {
  .w#{$px} {
    width: #{$px}px;
  }
}

@for $i from 1 through length($perc) {
  $val: nth($percVal, $i);
  $p  : nth($perc, $i);
  .w#{$val}\% {
    width: percentage($p);
  }
}

@each $vw in $vws {
  .w#{$vw}vh {
    width: #{$vw}vh;
  }

  .w#{$vw}vw {
    width: #{$vw}vw;
  }
}

.miw100\% {
  min-width: 100%;
}

.maw100\% {
  max-width: 100%;
}

@media all and (max-width: $bp-md) { 
  @each $px in $pxs {
    .w#{$px}\@md {
      width: #{$px}px;
    }
  }

  @for $i from 1 through length($perc) {
    $val: nth($percVal, $i);
    $p  : nth($perc, $i);

    .w#{$val}\%\@md {
      width: percentage($p);
    }
  }

  .miw100\%\@md {
    min-width: 100%;
  }

  .maw100\%\@md {
    max-width: 100%;
  }

  @each $vw in $vws {
    .w#{$vw}vh\@md {
      width: #{$vw}vh;
    }

    .w#{$vw}vw\@md {
      width: #{$vw}vw;
    }
  }
}

@media all and (max-width: $bp-sm) { 
  @each $px in $pxs {
    .w#{$px}\@sm {
      width: #{$px}px;
    }
  }

  @for $i from 1 through length($perc) {
    $val: nth($percVal, $i);
    $p  : nth($perc, $i);

    .w#{$val}\%\@sm {
      width: percentage($p);
    }
  }

  .miw100\%\@sm {
    min-width: 100%;
  }

  .maw100\%\@sm {
    max-width: 100%;
  }

  @each $vw in $vws {
    .w#{$vw}vh\@sm {
      width: #{$vw}vh;
    }

    .w#{$vw}vw\@sm {
      width: #{$vw}vw;
    }
  }
}