@if $width-on {
  @if $ws-px-on {
      @each $px in $ws-px {
      .w#{$px} {
        width: #{$px}px;
      }
    }
  }

  @if $ws-perc-on {
    @each $name,$value in $ws-perc {
      .w#{$name}\% {
        width: percentage($value);
      }
    }
  }

  @if $ws-vh-on {
    @each $vh in $ws-vh {
      .w#{$vh}vh {
        width: #{$vh}vh;
      }
    }
  }

  @if $ws-vw-on {
    @each $vw in $ws-vw {
      .w#{$vw}vw {
        width: #{$vw}vw;
      }
    }
  }

  @if $ws-perc-on {
    .miw100\% {
      min-width: 100%;
    }

    .maw100\% {
      max-width: 100%;
    }
  }

  @media all and (max-width: $bp-lg) {
    @if $ws-px-on {
      @each $px in $ws-px-lg {
        .w#{$px}\@lg {
          width: #{$px}px;
        }
      }
    }

    @if $ws-perc-on {
      @each $name,$value in $ws-perc-lg {
        .w#{$name}\%\@lg {
          width: percentage($value);
        }
      }
    }

    @if $ws-vh-on {
      @each $vh in $ws-vh-lg {
        .w#{$vh}vh\@lg {
          width: #{$vh}vh;
        }
      }
    }

    @if $ws-vw-on {
      @each $vw in $ws-vw-lg {
        .w#{$vw}vw\@lg {
          width: #{$vw}vw;
        }
      }
    }

    @if $ws-perc-on {
      .miw100\%\@lg {
        min-width: 100%;
      }

      .maw100\%\@lg {
        max-width: 100%;
      }
    }
  }

  @media all and (max-width: $bp-md) {
    @if $ws-px-on {
      @each $px in $ws-px-md {
        .w#{$px}\@md {
          width: #{$px}px;
        }
      }
    }

    @if $ws-perc-on {
      @each $name,$value in $ws-perc-md {
        .w#{$name}\%\@md {
          width: percentage($value);
        }
      }
    }

    @if $ws-vh-on {
      @each $vh in $ws-vh-md {
        .w#{$vh}vh\@md {
          width: #{$vh}vh;
        }
      }
    }

    @if $ws-vw-on {
      @each $vw in $ws-vw-md {
        .w#{$vw}vw\@md {
          width: #{$vw}vw;
        }
      }
    }

    @if $ws-perc-on {
      .miw100\%\@md {
        min-width: 100%;
      }

      .maw100\%\@md {
        max-width: 100%;
      }
    }
  }

  @media all and (max-width: $bp-sm) {
    @if $ws-px-on {
      @each $px in $ws-px-sm {
        .w#{$px}\@sm {
          width: #{$px}px;
        }
      }
    }

    @if $ws-perc-on {
      @each $name,$value in $ws-perc-sm {
        .w#{$name}\%\@sm {
          width: percentage($value);
        }
      }
    }

    @if $ws-vh-on {
      @each $vh in $ws-vh-sm {
        .w#{$vh}vh\@sm {
          width: #{$vh}vh;
        }
      }
    }

    @if $ws-vw-on {
      @each $vw in $ws-vw-sm {
        .w#{$vw}vw\@sm {
          width: #{$vw}vw;
        }
      }
    }

    @if $ws-perc-on {
      .miw100\%\@sm {
        min-width: 100%;
      }

      .maw100\%\@sm {
        max-width: 100%;
      }
    }
  }

  @media all and (max-width: $bp-smx) {
    @if $ws-px-on {
      @each $px in $ws-px-smx {
        .w#{$px}\@smx {
          width: #{$px}px;
        }
      }
    }

    @if $ws-perc-on {
      @each $name,$value in $ws-perc-smx {
        .w#{$name}\%\@smx {
          width: percentage($value);
        }
      }
    }

    @if $ws-vh-on {
      @each $vh in $ws-vh-smx {
        .w#{$vh}vh\@smx {
          width: #{$vh}vh;
        }
      }
    }

    @if $ws-vw-on {
      @each $vw in $ws-vw-smx {
        .w#{$vw}vw\@smx {
          width: #{$vw}vw;
        }
      }
    }

    @if $ws-perc-on {
      .miw100\%\@smx {
        min-width: 100%;
      }

      .maw100\%\@smx {
        max-width: 100%;
      }
    }
  }
}
