.wobn {
  word-break: normal;
}

.wobk {
  word-break: keep-all;
}

.wobba {
  word-break: break-all;
}

.wownm {
  word-wrap: normal;
}

.wown {
  word-wrap: none;
}

.wowu {
  word-wrap: unrestricted;
}

.wows {
  word-wrap: suppress;
}

.wowb {
  word-wrap: break-word;
}